.contacts{
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) {
    padding-bottom: 50px;
  }

  @media screen and (min-width: $desctop) {
    padding-bottom: 150px;
    
    &::before {
      content: url(../images/content/design-elem9.svg);

      position: absolute;

      top: 5%;
      left: 5%;
    }

    &::after {
      content: url(../images/content/design-elem1.svg);

      position: absolute;
      bottom: 35.5%;
      right: 15%;
    }
  }
}

.contacts-title{
  width: 283px;

  margin-bottom: 45px;

  font-family: $title-font;
  font-size: 40px;
  font-weight: $main-font-waight;
  line-height: 1.125;

  @media screen and (min-width: $tablet) {
    width: 640px;
    
    font-size: 48px;
    line-height: 1.333;
    text-align: center;
  }
  
  @media screen and (min-width: $desctop) {
    margin-bottom: 80px;
  }
}

.contacts-container{
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  
    background-color: $second-background-colot;
  }

  @media screen and (min-width: $desctop) {
    border-radius: 26px 20px 20px 26px;
  }
}

.contacts-form{
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 60px 25px;
  border-radius: 10px;

  background-color: $second-background-colot;

  @media screen and (max-width: 767px) {
    margin: 0 15px;
  }

  @media screen and (min-width: $tablet) {
    width: 530px;
    padding: 45px 40px auto 20px;
  }
}

.contacts-form__title{
  font-weight: $main-font-waight;
  font-family: $main-font;
  font-size: 32px;
  line-height: 1.375;

  padding-bottom: 45px;
}

.contacts-form__input{
  width: 100%;

  margin-bottom: 50px;
  padding-bottom: 7px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid $title-text-color;

  color: $primary-text-color;
  line-height: 1.375;

  &:hover, &:focus{
    outline: none;
  }
}

.contacts-data{
  padding: 60px;
  margin-top: -20px;
  background-image: url(../images/content/contacts-back-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $tablet){
    margin-top: 0;
    padding: 50px auto 50px 40px;
  }

  @media screen and (min-width: $desctop){
    background-image: url(../images/content/contacts-back-desctop.svg);
  }
}

.contacts-data__title{
  position: relative;
  margin-bottom: 23px;

  font-family: $main-font;
  font-size: 32px;
  font-weight: $main-font-waight;
  color: $light-color;
  line-height: 1.375;


  @media screen and (min-width: $desctop){
    margin-bottom: 30px;
  }
}

.contacts-data__inquiries{
  position: relative;
  margin-bottom: 50px;

  @media screen and (max-width: 767px){
    &::after{
      content: "";
      
      position: absolute;
      
      width: 42px;
      border-bottom: 1px solid $light-color;
      
      bottom: -25px;
    }
  }

  @media screen and (min-width: $tablet){
    margin-bottom: 80px;
  }
}

.contacts-data__inquiries-mail{
  &:first-child{
    margin-bottom: 6px;
  }
}

.contacts-data__list .contacts-data__item{
  display: flex;
  align-items: baseline;
}

.contacts-data__item{
  margin-bottom: 12px;
}

.contacts-data__link{
  color: $light-color;
  line-height: 1.375;
}

.contacts-data__logo{
  fill: $light-color;
  margin-right: 15px;
}


