.footer{
  background-color: $second-background-colot;
}

.footer-container{
  display: flex;
  flex-direction: column;

  padding-top: 60px;

  @media screen and (min-width: $desctop){
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-logo{
  margin-bottom: 40px;
  
  & > img{
    min-width: 115px;
  }

  @media screen and (min-width: $desctop){
    margin-bottom: 0;
    margin-right: 110px;
  }
}

.footer-title{
  margin-bottom: 24px;

  font-family: $main-font;
  font-size: 20px;
  font-weight: $main-font-waight;
  line-height: 1.35;
}

.footer-list{
  position: relative;

  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $desctop) {
    flex-direction: column;
  }
}

.footer-item{
  margin-bottom: 16px;

  &:not(:last-child){
    margin-right: 24px;
  }

  &:hover{
    padding-left: 5px;
  }
}

.footer-link{
  display: flex;
  align-items: center;
  font-size: 14px;
  // line-height: 1.375;
  color: $title-text-color;
}

.footer-contacts__item{
  &:not(:last-child){
    margin-bottom: 12px;
  }

  & footer-link{
    font-style: 16px;
  }
}

.footer-contacts__logo{
  margin-right: 10px;
}

.footer-company, .footer-services, .footer-contacts{
  margin-bottom: 40px;
  margin-right: 72px;
}

.footer-follow__list{
  display: flex;
}

.footer-follow__item{
  &:not(:last-child){
    margin-right: 10px;
  }
}

.footer-follow__icon{
  width: 20px;
  height: 20px;

  fill: $btn-stroke;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover{
    fill: $accent-text-color;
  }
}

.copyright{
  padding: 17px 0;

  text-align: center;
  font-size: 12px;
  line-height: 1.333;
  color: $title-text-color;

  border-top: 1px solid #D0D0D0;
}

.copyright, .footer-follow{
  @media screen and (max-width: 1439px){
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}