.partners-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
}

.partner-title{
  font-family: $main-font;
  font-size: 24px;
  font-weight: $main-font-waight;
  line-height: 1.375;
  text-align: center;

  margin-bottom: 40px;

  @media screen and (min-width: $desctop) {
    margin-bottom: 68px;
  }
}

.partner-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 1004px;

  margin: -15px 0 0 -15px ;
}

.partner-item{
  width: 150px;
  margin: 15px 0 0 15px;
  @include flex-center;
  flex-basis: calc(100%/2 - 15px);
  
  @media screen and (min-width: $tablet) {
    flex-basis: calc(100%/3 - 15px);
  }
  
  @media screen and (min-width: $desctop) {
    flex-basis: calc(100%/6 - 15px);
  }
}
