.podcast{
  padding: 60px 0;

  @media screen and(min-width: $desctop){
    padding: 150px 0;
  }
}

.podcast-container{
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 50px 25px;
  background-image: url(../images/content/podcast-back-mobile.svg);
  background-repeat: no-repeat;
  background-size: 101%;
  
  @media screen and(min-width: $tablet){
    align-items: flex-end;

    background-image: url(../images/content/podcast-back-desctop.svg);
    background-repeat: no-repeat;
    background-size: contain;
  
    &::before{
      content: "";
  
      position: absolute;
  
      width: 35px;
      height: 35px;
  
      border: 3px $light-color solid;
      border-radius: 50px;
  
      top: 4%;
      right: 2.5%;
    }

  }

  @media screen and(min-width: $desctop){
    padding: 72px 50px 72px 0;
    
  }
  
  &::after {
    content: "";

    position: absolute;

    top: -3.5%;
    right: -3.5%;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    background-color: $accent-color;

    @media screen and(min-width: $tablet){
      top: -5%;
      right: 0.4%;;
    }
  }
}

.podcast-box{
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width: $tablet){
    width: 50%;
  }
}

.podcast-img{
  position: absolute;

  width: 342px;
  top: 18%;

  @media screen and(min-width: $tablet) {
    transform: scale(-1, 1);
    
    top: -17%;
    left: 10%;
  }
  @media screen and(min-width: $desctop) {
    width: 383px;

  }
}

.podcast-title{
  position: relative;

  height: 72px;

  text-align: left;
  font-family: $title-font;
  font-size: 32px;
  line-height: 1.125;
  font-weight: $main-font-waight;
  color: $light-color;

  margin-bottom: 335px;

  @media screen and(min-width: $tablet) {
    margin-bottom: 50px;
  }

  @media screen and(min-width: $desctop) {
    font-size: 48px;
    line-height: 1.146;
  }
}

.podcast-container > .accent-btn{
  font-size: 20px;
  line-height: 1.15;
  width: 233px;
}