$main-font: 'Open Sans', sans-serif;
$title-font: 'Georgia', sans-serif;
$main-font-size: 16px;
$main-font-waight: 400;
$accent-font-waight: 600;

$primary-background-color: rgba(253, 253, 253, 1);
$second-background-colot: rgba(248, 248, 248, 1);
$third-background-color: rgba(255, 255, 255, 1);

$primary-text-color: #545454;
$secont-text-color: #565656;
$title-text-color: #2C2C2C;
$fourth-text-color: #FFFAEC;
$accent-text-color: #FFCD00;
$light-color: #fff;

$btn-color: #FFCC2A;
$accent-color: #F3C224;
$second-accent-color: #F7F7F7;
$btn-stroke: #2D415E;

$primary-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0826049);

$mobile: 375px;
$tablet: 768px;
$desctop: 1440px;

$container-padding-mobile: 0 16px;
$container-padding-tablet: 0 50px;
$container-padding-desctop: 0 150px;

// $accent-cursor: ;